body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f5f5f5;
}

header {
  background-color: #2fb7cf;
  color: white;
  padding: 20px;
  text-align: center;
}

.idiomas {
  margin-top: 10px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.galeria img {
  width: 300px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.info {
  padding: 20px;
  background-color: white;
  text-align: center;
}

.info ul {
  list-style: none;
  padding: 0;
}

.info li {
  margin: 10px 0;
}

.calendario {
  text-align: center;
  padding: 20px;
  background-color: white;
}

.contacto {
  text-align: center;
  padding: 20px;
  background-color: #e8f0fe;
}

.boton-wsp {
  display: inline-block;
  background-color: #25D366;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  margin: 10px 0;
  font-weight: bold;
}

footer {
  text-align: center;
  background-color: #3b7dd8;
  color: white;
  padding: 10px;
}

@media (max-width: 768px) {
  .galeria {
    flex-direction: column;
    align-items: center;
  }

  .galeria img {
    width: 90%;
  }

  .boton-wsp {
    width: 80%;
    font-size: 18px;
  }
  #.boton-booking {
    #  display: inline-block;
    #background-color: #003580;
    #color: white;
    #padding: 12px 20px;
    #border-radius: 8px;
    #text-decoration: none;
    #font-weight: bold;
    #}
  .boton-booking {
    display: inline-block;
    padding: 12px 24px;
    background-color: #003580;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .boton-booking:hover {
    background-color: #0053a0;
  }
  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .whatsapp-float img {
    width: 35px;
    height: 35px;
  }
  
  
}
